#home {
  perspective: 1200px;

  .atom-universe {
    width: 900px;
    position: relative;
    margin: auto;
    padding-right: 100px;
    .electron {
      position: absolute;
      top: -5px;
      left: -5px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #000;
    }
    .earth {
      position: absolute;
      top: 43%;
      left: 44.5%;
      z-index: 1;
      >img {
        width: 100px;
      }
      .turn{
        width:100px;
        height: 100px;
        animation:turn 8s linear infinite;
        -moz-animation: turn 8s linear infinite;
        -webkit-animation: turn 8s linear infinite;
        -o-animation: turn 8s linear infinite;      
      }
    }
    
  }
  @keyframes turn{
    0% {
      transform:rotate(0deg);
    }
    25% {
      transform:rotate(90deg);
    }
    50% {
      transform:rotate(180deg);
    }
    75% {
      transform:rotate(270deg);
    }
    100% {
      transform:rotate(360deg);
    }
  }
  @-webkit-keyframes turn{
    0% {
      -webkit-transform:rotate(0deg);
    }
    25% {
      -webkit-transform:rotate(90deg);
    }
    50% {
      -webkit-transform:rotate(180deg);
    }
    75% {
      -webkit-transform:rotate(270deg);
    }
    100% {
      -webkit-transform:rotate(360deg);
    }
  }
  @-ms-keyframes turn {
    0% {
      -ms-transform:rotate(0deg);
    }
    25% {
      -ms-transform:rotate(90deg);
    }
    50% {
      -ms-transform:rotate(180deg);
    }
    75% {
      -ms-transform:rotate(270deg);
    }
    100% {
      -ms-transform:rotate(360deg);
    }
  }
  @-moz-keyframes turn {
    0% {
      -moz-transform:rotate(0deg);
    }
    25% {
      -moz-transform:rotate(90deg);
    }
    50% {
      -moz-transform:rotate(180deg);
    }
    75% {
      -moz-transform:rotate(270deg);
    }
    100% {
      -moz-transform:rotate(360deg);
    }
  } 
  @-o-keyframes turn {
    0% {
      -o-transform:rotate(0deg);
    }
    25% {
      -o-transform:rotate(90deg);
    }
    50% {
      -o-transform:rotate(180deg);
    }
    75%{
      -o-transform:rotate(270deg);
    }
    100%{
      -o-transform:rotate(360deg);
    }
  }

}